@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;

  font-size: 19px;
  max-width: 1024px;
  margin: 10px auto;
}

pre {
  max-height: 80px;
  overflow: scroll;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  margin-top: 10px;
  padding: 20px;
}

.font-xl {
  font-size: 30px;
  letter-spacing: 7px;
  text-align: center;
}

.app {
  max-width: 1024px;
  margin: 0 auto;
}

.app-main {
  padding-bottom: 20px;
}

.header {
  font-size: 40px;
}

.mini-header {

  padding-top: 10px;
  font-size: 30px;
}

input {
  padding: 8px;
  font-size: 24px;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title {
  margin-top: 28px;
  text-align: center;
}

.title-h2 {
  margin-top: 16px;

  text-align: center;
  font-size: 26px;
}

.addr {

  font-family: monospace;
  color: #3CA4DB;
  word-break: break-all;
}

.img {
  background-image: url(https://ton.org/address/img.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 400px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;

}

.file {
  display: none;
}

.btn {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 7px 13px;
  cursor: pointer;
  background-color: #3CA4DB;
  color: #fff;
  border-radius: 7px;
}

.drop-zone {
  width: 400px;
  height: 200px;
  border: 5px dashed #cfcfcf;
  margin: 20px auto;
  text-align: center;
}

.drop-zone::before {
  content: "Drop *.boc Here";
  position: relative;
  top: 80px;
  font-size: 28px;
  color: #aaa;
}

.btn-cancel {
  background-color: rgb(231, 65, 65);
}

.btn-deploy {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: rgb(19, 202, 80);
  color: #fff;
  margin-left: 20px;
}

.busy {
  opacity: 0.5;
}

.deploy-message {
  background-color: #fff9b6;
  display: inline;
  font-size: 14px;
  padding: 2px 8px;
  border: 1px solid #ccc;
}

#qr-reader {
  width: 400px;
  margin: 10px auto;
}

.qr-logo {
  height: 20px;
  position: relative;
  top: 2px;
  padding-right: 10px;
}

.qr-logo-btn {
  height: 18px;
}

.btn-2 {
  /* height: 20px !important; */
}

.boc-error {
  color: crimson;
  padding: 10px;
}

.button {
  margin: 10px 0;
}

.overlow-x {
  overflow-x: scroll;
}

.border-top {
  border-top: 1px solid #989898;
}

.boc-button {

  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: rgb(56, 166, 244);
  margin-left: 20px;
  border-radius: 7px;

  cursor: pointer;
}

.boc-button:hover {

  text-decoration: underline;
}

.border-b {
  border-bottom: 1px solid rgb(202, 202, 202);
}

.pre-multi-line {
  white-space: break-spaces;
  height: 600px;
}

.message-result {
  text-align: left;
  border: 1px solid #aaa;
  padding: 10px;
  overflow: hidden;
}

.res-property {
  width: 100px;
  display: inline-block;
}

.flex {
  display: flex;
}

.action-line {}

.message-item {
  border: 1px solid #ccc;
  font-size: 16px;
  margin: 7px;
  padding: 7px;
  /* width: 280px; */
  /* overflow: hidden; */
  position: relative;
  margin-left: 70px;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
}




.message-item:not(:last-child)::after {
  content: "➡️";
  font-size: 36px;
  position: absolute;
  top: 44%;
  right: -30%;
}





.action-line div {
  margin: 5px;
  padding: 5px;
}

.boc-output {
  padding-bottom: 200px;
}

.header-boc-output {
  font-size: 36px;
  text-align: center;
  line-height: 2;

}

.message-item-row {
  text-align: left;
}

/* .pre-body {
  background-color: rgb(110 110 110);
  color: #f2f2f2;
  max-width: 80%;
  overflow-x: scroll;
  margin: 0 auto;
  height: 26px;
  margin-top: 10px;
  padding: 7px;

} */

.message-body-pre {
  padding: 0.25rem;
}

.address-avatar {
  top: 10px;
  position: relative;
}

.message-address {
  font-weight: 400;
  font-size: 18px;
}

.message-box-value {
  margin-top: 5px;
  font-weight: bold;
}

.indent-1 {
  margin-left: 140px;
}

.indent-2 {
  margin-left: 280px;
}


.tx-table-inner-container {
  display: flex;
  flex-wrap: wrap;
}

.tx-details-box {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 10px;

}

.fee-row {
  display: inline-flex;
  flex-direction: row;
  word-wrap: break-word;
  white-space: normal;
  align-items: flex-end;
  font-size: 12px;
}

.fee-value {

  margin-left: 10px;
  min-width: 40px;
}


.genesis-wallet {
  margin-top: 100px;
  text-align: center;
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
}

.genesis-wallet::after {
  content: "➡️";
  font-size: 36px;
  position: absolute;
  top: 44%;
  right: -30%;

}


.boc-res-success {
  color: #db3c3c;
  padding: 10px;
  background-color: #fff0f0;
}

.boc-res-ok {
  color: #3cdb79;
  background-color: rgb(240, 255, 252);
}

.boc-res-ok::before {
  content: "✅";
}

.boc-res-error {
  color: #db3c3c;
  padding: 10px;
  background-color: rgb(188, 160, 160);
}

.error-icon {
  color: #db3c3c;

}

.error-icon::before {
  content: " ❌ ";
}


.error-icon-seqno {
  content: "";
  color: #db3c3c;
}

.error-icon-seqno::before {
  content: "❌ Boc seqno doesn't match the wallet | ";
  color: #db3c3c;
}

.error-icon-seqno {

  color: #db3c3c;
}

.error-icon-seqno::before {
  content: " ❌ Boc seqno doesn't match the wallet seqno ";
  color: #db3c3c;
}


.error-icon-expired {

  color: #db3c3c;
}

.error-icon-expired::before {
  content: " ❌ Boc is expired was ";
  color: #db3c3c;
}